<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="umn.ac.bigboss">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBoss"

        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".pemilik.PemilikDetailTransaksiMenungguKonfirmasiPemilik"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikDetailTransaksiBelumLunas"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikDaftarBelumLunas"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikRequestPembayaran"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikDetailTransaksi"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikDetailPengguna"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikEditProfile"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikDaftarOrangNgontrak"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikTambahPembayaran"
            android:exported="false" />
        <activity
            android:name=".pengontrak.PengontrakDetailPembayaran"
            android:exported="false" />
        <activity
            android:name=".pengontrak.PengontrakEditProfile"
            android:exported="false"
            android:label="@string/title_activity_pengontrak_edit_profile"
            android:theme="@style/Theme.BigBoss.NoActionBar" />
        <activity
            android:name=".pengontrak.PengontrakHomeActivity"
            android:exported="false" />
        <activity
            android:name=".pemilik.PemilikHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>